* {
   margin: 0;  
   padding: 0;
   box-sizing: 0;
}

html {
    font-size: 62.5%;

}

.first-page-container{
   
    height: 100vh;
    display:flex;
    
    animation-name:slidedown ;
    animation-duration: 2.5s;
}

.left-side {
    
    display: flex;
    flex-direction:column;
    align-items: center;
    padding-top: 30rem;
    width: 50% ;
    background-color:whitesmoke;
    
   
}

h1 {text-align: center;
    font-size: 6rem;
    
}


.Header-paragraph2{
    margin-bottom: 4rem;
}

#all-arrows{
  
    font-size: 4rem;
}
/*.arrow1{
    font-size: 4rem;

    
}*/


.image1{
  
    width: 50% ;
}

.Second-page-container {
    
    display: flex;
    height: 100vh;
  
   
    

 }

 h2 {
     font-size: 3rem;
     background-color: whitesmoke;
     width: 50%;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   

     
 }

 .arrow2 {
     margin-top: 2rem;
   

 }
 .right-side {
     width: 50%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 text{
     font-size: 1.2rem;
     width: 50%;
     margin-bottom: 3rem;
    
 }

 .image2 {
     width: 60%;

 }

 .third-page-container {

   height: 100vh;
    display: flex;
 }



 h3{
    
    font-size: 3rem;
    background-color: whitesmoke;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

 }

 .image3-container{
   
     display: flex;
     flex-direction: column;
     width: 50%;
     align-items: center;
     justify-content: center;
 }
.image3 {
    width:100%;
}

@keyframes slidedown {
    0%{ transform:translatex(-70px);
      opacity:0;
      
    }
    
    100%{transform:translateY;
      opacity:1;
    }
    
 
}



@media (max-width:500px){
    html{font-size: 45%;}
    .left-side{
        text-align: center;
    }
    
}

@media (max-width:375px){
    html{font-size: 35%;}
}

